{
  "extends": [
    "airbnb",
    "airbnb-typescript",
    "plugin:react/jsx-runtime",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "ignorePatterns": ["node_modules", "dist", "public"],
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
