@import url("variables.css");
@import url("mixins.css");

.main {
  .title {
    max-width: 30px;
    overflow-x: scroll;
    font-size: 20px;

    @mixin hide-scrollbar;

    @media (--medium-viewport) {
      font-size: 32px;
    }
  }
}
