@import "variables.css";
@import "mixins.css";

.main {
  margin-top: 20px;
  .title {
    max-width: 30px;
    overflow-x: scroll;
    font-size: 20px;

    @mixin hide-scrollbar;

    @media (--medium-viewport) {
      font-size: 32px;
    }
  }
}
